@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "Silk Serif";
  src: url("/fonts/silkserif-medium.woff") format("woff");
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Silk Serif", "Times New Roman", Times, serif;
}
