@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@font-face {
  font-family: "Silk Serif";
  src: url("/fonts/silkserif-medium.woff") format("woff");
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Silk Serif", "Times New Roman", Times, serif;
}
/* 
Font Ideas:  

Title - Agu display, Times, Alfa Stab One, Sekuya, Bebas Neue

Body - DM Sans, Crimson Text, Times, Georgia
*/
